@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Kalam:wght@400;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
:root {
  --bg-body: #0b051d;
  --bg-containers: #170b39;
  --text-orange: #00b3ff;
  --text-white: #ffffff;
  --bg-orange: #6131df;
}
/* :root {
  --bg-body: #0f0f0f;
  --bg-containers: #242424;
  --text-orange: #ffaf4d;
  --bg-orange: #ff8c00;
} */

body {
  background-color: var(--bg-body) !important;
}
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-orange);
  border-radius: 20px 20px 0 0;
  z-index: 1;
  padding: 10px;
}

.parent {
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 50px;
}
.container-content-side,
.container-content {
  background-color: var(--bg-containers);
  border-radius: 15px;
  border: 1px solid rgb(67, 67, 67);
  /* z-index: 1; */
}

.text_orange {
  color: var(--text-orange);
}
.text_dark {
  color: var(--bg-orange);
}

.bg_orange {
  background-color: var(--bg-orange);
}
.icon {
  background-color: #323232;
  color: var(--text-orange);
  box-shadow: inset 2px 2px 2px rgb(71, 71, 71);
}
.main_header {
  background-color: var(--bg-orange);

  border-radius: 0 0 0 20px;
}
.neumer-input {
  border: none;
  outline: none;
  background: none;
  font-size: 15px;
  color: var(--text-orange);
  padding: 15px 8px 15px 5px;
}
.email,
.name,
.message {
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 1px 1px 1px var(--text-orange),
    inset -1px -1px 1px var(--text-orange);
}
a {
  text-decoration: none !important;
}
.main_title {
  position: relative;
  margin-left: 15px;
}
.main_title::after {
  content: "";
  position: absolute;
  width: 40px;
  background-color: white;
  bottom: -9px;
  height: 5px;
  left: 5px;
  border-radius: 2px;
}
button {
  padding: 5px;
  border-radius: 30px !important;
  border: none;
  background-color: rgb(51, 51, 51);
  color: var(--text-orange);
  border: 1px solid rgb(113, 113, 113);
}
.card {
  width: 280px !important;
  height: auto;

  display: flex;
  flex-direction: column;
  background-color: transparent !important;
  border: none !important;
}
.card-img {
  height: 150px !important;
  border-radius: 30px;
}
.Accordion {
  background-color: transparent !important;
  border: none !important;
  
}
.who_iam h6 {
  font-size: 18px;
}
.who_iam p {
  font-size: 13px;
}
.profile_img img {
  height: 120px;
  object-fit: contain;
  border-radius: 10px;
}
.profile_img {
  border-radius: 20px;
}
canvas#canvas {
  display: block;
  background: #0d0d0d;
}
@media screen and (max-width: 380px) {
  .who_iam {
    width: 50%;
  }
  .who_iam h6 {
    font-size: 10px;
  }
  .who_iam p {
    font-size: 8px;
  }
 
  .profile_img {
   border-radius: 50px;
  }
  .profile_img img{
   border-radius: 50px;
  }
}
.card-img:hover{
 padding: 10px;
 opacity: 70%;
  transition: .5s;
  cursor: pointer;
}
/* ........................Animation..................................... */

