@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Kalam:wght@400;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
:root {
  --bg-body: #1a1a1a;
  --bg-containers: #2f2f2f;
  --text-orange: #42d392;
  --text-white: #aac8e4;
  --bg-orange: #647eff;
  --linear-bg: linear-gradient(315deg, #42d392 25%, #647eff);
}

/* background: -webkit-linear-gradient(315deg,#42d392 25%,#647eff);
    background-clip: text;
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; */
/* :root {
  --bg-body: #0b051d;
  --bg-containers: #170b39;
  --text-orange: #00b3ff;
  --text-white: #ffffff;
  --bg-orange: #6131df;
} */
/* :root {
  --bg-body: #0f0f0f;
  --bg-containers: #242424;
  --text-orange: #ffaf4d;
  --bg-orange: #ff8c00;
} */

body {
  background-color: var(--bg-body) !important;
}
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background: var(--linear-bg);
  background-clip: text;
  border-radius: 20px 20px 0 0;
  z-index: 1;
  padding: 10px;
}
.header_position {
  font-size: 15px;
  background: var(--linear-bg);
  background-clip: text;
}
.parent {
  display: flex;
  align-items: center;
  padding: 30px;
  gap: 50px;
}
.container-content-side,
.container-content {
  background-color: var(--bg-containers);
  border-radius: 15px;
  border: 1px solid rgb(67, 67, 67);
}
.linear_bg {
  background: var(--linear-bg);
  background-clip: text;
}
.text_orange {
  color: var(--text-orange);
}
.text_dark {
  background: var(--linear-bg);
  background-clip: text;
}

.bg_orange {
  background-color: var(--bg-orange);
}
.icon {
  background-color: #323232;
  color: var(--text-orange);
  box-shadow: inset 2px 2px 2px rgb(70, 118, 141);
}
.main_header {
  background: linear-gradient(315deg, var(--text-orange) 25%, var(--bg-orange));
  background-clip: text;

  border-radius: 0 0 0 20px;
}
.custom_toggle {
  background: var(--linear-bg);
  background-clip: text;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
}
.neumer-input {
  border: none;
  outline: none;
  background: none;
  font-size: 15px;
  color: var(--text-orange);
  padding: 15px 8px 15px 5px;
}
.email,
.name,
.message {
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 1px 1px 1px var(--text-orange),
    inset -1px -1px 1px var(--text-orange);
}
a {
  text-decoration: none !important;
}
.main_title {
  position: relative;
  margin-left: 15px;
}
.main_title::after {
  content: "";
  position: absolute;
  width: 40px;
  background-color: white;
  bottom: -9px;
  height: 5px;
  left: 5px;
  border-radius: 2px;
}
.send_button {
  padding: 5px;
  border-radius: 30px !important;
  border: none;
  width: 25%;
  border: 1px solid rgb(113, 113, 113);
}
.card {
  width: 280px !important;
  height: auto;

  display: flex;
  flex-direction: column;
  background-color: transparent !important;
  border: none !important;
}
.card-img {
  height: 150px !important;
  border-radius: 30px;
}
.Accordion {
  background-color: transparent !important;
  border: none !important;
}
.who_iam h6 {
  font-size: 18px;
}
.who_iam p {
  font-size: 13px;
}
.profile_img img {
  height: 120px;
  object-fit: contain;
  border-radius: 10px;
}
.profile_img {
  border-radius: 20px;
}
.text_active {
  color: #ffffff;
  padding: 4px;
  border-radius: 10px;
  background: -webkit-linear-gradient(315deg,#f2ff00 ,rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 380px) {
  .who_iam {
    width: 50%;
  }
  .who_iam h6 {
    font-size: 10px;
  }
  .who_iam p {
    font-size: 8px;
  }

  .profile_img {
    border-radius: 50px;
  }
  .profile_img img {
    border-radius: 50px;
  }
}
@media screen and (max-width: 480px) {
  .send_button {
    width: 100%;
  }
}
.card-img:hover {
  padding: 10px;
  opacity: 70%;
  transition: 0.5s;
  cursor: pointer;
}
/* ........................Animation..................................... */
